.uk-navbar-dropdown-grid>:not(.uk-first-column)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    border-left: 1px solid #e5e5e7;
}

.menu-item-10834 {
    left: 15px;
    border-left: 1px solid #e5e5e7;
    height: 280px;
}


.nolink .menu-item .menu-item-type-custom .menu-item-object-custom .menu-item-has-children.menu-item-10834

    font-family: Montserrat;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;

#top-menu .menu-item-has-children>a:first-child {
	color: black;
	background-color: #ffffff;
}


 padding: 5px 25px 20px!important;


#et-secondary-nav .menu-item-has-children>a:first-child, #top-menu .menu-item-has-children>a:first-child {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

#et-secondary-nav .menu-item-has-children>a:first-child:after, #top-menu .menu-item-has-children>a:first-child:after {
    padding-top: 20px;
}

#et_search_icon:before {
    padding-top: 20px;
}


#top-menu>li:last-child {
    left: -20px;
}


#top-menu .menu-item-has-children>li:first-child:hover  {
    color: black;
    background-color: #ffffff;
    opacity: 1;
}


/* drop down menu items on hover */
    .nav ul li a:hover {
        opacity: 1;
        color: #000;
        background-color: #88bae6;}


    border-bottom: 1px solid black;

    
    .nav li:hover a {
        color: black !important;
        background-color: white;
    }


    section.et_pb_module.et_pb_fullwidth_header.et_pb_fullwidth_header_0.et_hover_enabled.et_pb_section_video.et_pb_bg_layout_dark.et_pb_text_align_center {
    min-height: 50vh;
    height: 80vh;
}

/* Center align the text and button on the home page */
.header-content-container.center {
    position: relative;
    transform: translate( 0%, 60%);
}
/* Center align the text and button on the home page */


/* Move the scroll item up */
.et_pb_fullwidth_header_scroll {
    position: relative !important;
    top: -35%;
    left: 50% !important;
    bottom: auto !important;
    transform: translate(0%, 60%);
}

2560x1440


    .et_fullwidth_secondary_nav #top-header .container  {
        width: 100%;
        max-width: 100%;
        padding-right: 70px;
        top: 65px;
    }
    body.et_fixed_nav.et_secondary_nav_enabled #main-header, body.et_non_fixed_nav.et_transparent_nav.et_secondary_nav_enabled #main-header {
        top: 0px !important;
    }

